<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.ActionLogMapper">

    <insert id="insert" parameterType="ActionLog" useGeneratedKeys="true" keyProperty="id">
        insert into `action_log`(action,object,user,ip)
        values(#{action},#{object},#{user},#{ip})
    </insert>

    <update id="update" parameterType="ActionLog">
        update `action_log`
        <set>
            action = #{action},
            object = #{object},
            user = #{user},
            ip = #{ip}
        </set>
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="ActionLog">
        select * from `action_log`
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from `action_log`
        where id = #{id}
    </delete>

    <select id="selectAll" resultType="ActionLog">
        select * from `action_log`
        order by id desc
    </select>
</mapper>