<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.ArticleMapper">


    <insert id="insert" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into `article`(user_id,title,subtitle,content,category_id_parent,category_id_child,
        tag_ids,img,views,likes,status)
        values(#{userId},#{title},#{subtitle},#{content},#{categoryIdParent},#{categoryIdChild},
        #{tagIds},#{img},#{views},#{likes},#{status})

    </insert>

    <update id="update" parameterType="Article">
        update `article`
        <set>
            title = #{title},
            subtitle = #{subtitle},
            content = #{content},
            category_id_parent = #{categoryIdParent},
            category_id_child = #{categoryIdChild},
            tag_ids = #{tagIds},
            img = #{img},
            views = #{views},
            likes = #{likes},
            status = #{status}
        </set>
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="Article">
        select * from `article`
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from `article`
        where id = #{id}
    </delete>

    <select id="selectCountByUid" parameterType="map" resultType="int">
        select count(*) from `article`
        where user_id = #{uid}
    </select>

    <select id="selectCountByTag" resultType="int">
        select count(*) from `article`
        where tag_ids regexp '(^|,)${tagId}($|,)'
    </select>

    <sql id="conditionSql">
        <if test="uid != 0">
            and user_id = #{uid}
        </if>
        <if test="parentCategoryId != 0">
            and category_id_parent = #{parentCategoryId}
        </if>
        <if test="childCategoryId != 0 ">
            and category_id_child = #{childCategoryId}
        </if>
    </sql>
    <select id="selectByCondition" parameterType="map" resultType="Article">
        select * from `article`
        where 1=1
        <include refid="conditionSql"/>
        order by id desc
        <if test="count!=0">
            limit #{start},#{count}
        </if>
    </select>

    <select id="selectCountByCondition" parameterType="map" resultType="int">
        select count(*) from `article`
        where 1=1
        <include refid="conditionSql"/>
    </select>

    <select id="selectNums" resultType="int">
        select count(*) from `article`
    </select>

    <select id="selectLastUpdated" resultType="java.util.Date">
        select max(updated_at) from `article`
    </select>

    <select id="selectHot" parameterType="map" resultType="Article">
        select * from `article`
        <if test="ids != null and ids.size > 0">
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
        order by field(id,
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
        </if>
        limit 0,8
    </select>

    <sql id="front">
        <if test="category != 0">
            and (category_id_parent = #{category} or category_id_child = #{category})
        </if>
        <if test="tag !=0 ">
            and tag_ids regexp '(^|,)${tag}($|,)'
        </if>
    </sql>

    <select id="selectFront" parameterType="map" resultType="Article">
        select * from `article`
        where 1=1
        <include refid="front"/>
        order by id desc
        <if test="count != 0">
            limit #{start},#{count}
        </if>
    </select>

    <select id="selectCountFront" parameterType="map" resultType="int">
        select count(*) from `article`
        where 1=1
        <include refid="front"/>
    </select>

    <select id="selectSearch" resultType="Article">
        select * from `article`
        where title like '%${text}%' or subtitle like '%${text}%' or content like '%${text}%'
    </select>

    <select id="selectRecommend" resultType="Article">
        select * from `article`
        where status = 1
        order by id desc
    </select>
</mapper>