<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.CategoryMapper">

    <insert id="insert" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
        insert into `category`(pid,name,description)
        values(#{pid},#{name},#{description})
    </insert>

    <update id="update" parameterType="Category">
        update `category`
        <set>
            pid = #{pid},
            name = #{name},
            description = #{description}
        </set>
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="Category">
        select * from `category`
        where id = #{id}
    </select>

    <select id="selectByPage" parameterType="map" resultType="Category">
        select * from `category`
        <if test="count != 0">
            limit #{start},#{count}
        </if>
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from `category`
        <if test="isParent == true">
            where pid = 0
        </if>
    </select>

    <delete id="delete" parameterType="int">
        delete from `category`
        where id = #{id}
    </delete>

    <select id="getParentCategories" resultType="Category">
        select * from `category`
        where pid = 0
    </select>

    <select id="getChildCategories" resultType="Category">
        select * from `category`
        where pid != 0
    </select>

    <select id="selectAll" resultType="Category">
        select * from `category`
    </select>

    <select id="selectNums" resultType="int">
        select count(*) from `category`
    </select>
</mapper>