<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.ChunkMapper">

    <insert id="insert" parameterType="Chunk" useGeneratedKeys="true" keyProperty="id">
        insert into `chunk`(chunkNumber,chunkSize,currentChunkSize,
        totalSize,identifier,filename,relativePath,totalChunks,type)
        values(#{chunkNumber},#{chunkSize},#{currentChunkSize},#{totalSize},#{identifier},
        #{filename},#{relativePath},#{totalChunks},#{type})
    </insert>

    <select id="selectByIdentifierAndChunkNumber" parameterType="map" resultType="int">
        select count(*) from `chunk`
        where identifier = #{identifier} and chunkNumber = #{chunkNumber}
    </select>

</mapper>