<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.CommentMapper">

    <insert id="insert" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
        insert into `comment`(article_id,pid,username,content)
        values(#{articleId},#{pid},#{username},#{content})
    </insert>

    <update id="update" parameterType="Comment">
        update `comment`
        set article_id = #{articleId},
            pid = #{pid},
            username = #{username},
            content = #{content}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="Comment">
        select * from `comment`
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from `comment`
        where id = #{id}
    </delete>
</mapper>