<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.FileInfoMapper">

    <insert id="insert" parameterType="FileInfo" useGeneratedKeys="true" keyProperty="id">
        insert into `file`(uid,flag,status,filename,identifier,totalSize,type,location)
        values(#{uid},#{flag},#{status},#{filename},#{identifier},#{totalSize},#{type},#{location})
    </insert>

</mapper>