<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.NoticeMapper">

    <insert id="insert" parameterType="Notice" useGeneratedKeys="true" keyProperty="id">
        insert into `notice`(title,content,url,order)
        values(#{title},#{content},#{url},#{order})
    </insert>

    <update id="update" parameterType="Notice">
        update `notice`
        set title = #{title},
            content = #{content},
            url = #{url},
            order = #{order}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="Notice">
        select * from `notice`
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from `notice`
        where id = #{id}
    </delete>
</mapper>