<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.OptionMapper">

    <insert id="insert" parameterType="Option" useGeneratedKeys="true" keyProperty="id">
        insert into `option`(title,img,content,user_id)
        values(#{title},#{img},#{content},#{userId})
    </insert>

    <update id="update" parameterType="Option">
        update `option`
        set title = #{title},
            img = #{img},
            content = #{content},
            user_id = #{userId}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="Option">
        select * from `option`
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from `option`
        where id = #{id}
    </delete>
</mapper>