<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.UserMapper">

    <insert id="insert" parameterType="User">
        insert into `user`(username,email,account,password,last_login_ip,last_login_time,authority)
        values(#{username},#{email},#{account},#{password},#{lastLoginIp},#{lastLoginTime},#{authority})
    </insert>

    <update id="update" parameterType="User">
        update `user`
        set username = #{username},
            email = #{email},
            account = #{account},
            password = #{password},
            last_login_ip = #{lastLoginIp},
            last_login_time = #{lastLoginTime},
            authority = #{authority}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="int" resultType="User">
        select * from `user`
        where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from `user`
        where id = #{id}
    </delete>

    <select id="selectByName" parameterType="map" resultType="User">
        select * from `user`
        where account = #{username} and password = #{password}
    </select>

    <select id="selectByAuthority" parameterType="map" resultType="User">
        select * from `user`
        where authority = #{authority}
        <if test="count != 0">
            limit #{start},#{count}
        </if>
    </select>
    <select id="selectCountByAuthority" parameterType="map" resultType="int">
        select count(*) from `user`
        where authority = #{authority}
    </select>

    <select id="selectByUserName" parameterType="map" resultType="int">
        select count(*) from `user`
        where username = #{username}
    </select>

    <update id="updatePassword" parameterType="map">
        update `user`
        set password = #{newPassword}
        where id = #{id} and password = #{oldPassword}
    </update>
</mapper>