<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugq.blog.mapper.ViewMapper">

    <insert id="insert" parameterType="View" useGeneratedKeys="true" keyProperty="id">
        insert into `views`(article_id,user_id)
        values(#{articleId},#{userId})
    </insert>

    <select id="select" parameterType="map" resultType="int">
        select count(*) from `views`
        where article_id = #{articleId} and user_id = #{userId}
    </select>

</mapper>